@font-face{
     font-family: Catamaran;
     src: url(./Catamaran-VariableFont_wght.ttf); 
}
@font-face{
     font-family: Lato;
     src: url(./Lato-Regular.ttf); 
}
@font-face{
     font-family: Muli;
     src: url(./Mulish-VariableFont_wght.ttf);
}

.catamaran{
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}
.lato{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.muli{
    font-family: 'Muli',  Helvetica, Arial, sans-serif;
}

.purple-pink{
    
    background-image: url("/img/bg-pattern.png"),linear-gradient(to right,rgb(219,58,68), rgb(123,67,151));
    background-repeat: repeat;
}

.phone-main{

}

.phone{
    width: 100%;
    height: auto;
}

.wuzzat-demo{
   border-radius: 1%;
    margin-left: 50%;
    transform: translate(-49.9%,114.5%);
    width: 88%;
    height: auto;
}

.discover{
    background: rgb(253,203,80);
}

.divider{
    border-top: 3px solid #ddd;
}

@media screen and (max-width: 767px) {
    .spec-icons{
        font-size: 7rem;
        background: -webkit-linear-gradient(0deg, rgb(219,58,68), rgb(123,67,151));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media screen and (min-width: 768px) {
    .spec-icons{
        font-size: 3rem;
        background: -webkit-linear-gradient(0deg, rgb(219,58,68), rgb(123,67,151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
@media screen and (min-width: 992px) {
    .spec-icons{
        font-size: 4rem;
        background: -webkit-linear-gradient(0deg, rgb(219,58,68), rgb(123,67,151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
@media screen and (min-width: 1200px) {
    .spec-icons{
        font-size: 5rem;
        background: -webkit-linear-gradient(0deg, rgb(219,58,68), rgb(123,67,151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}

 .stop-waiting-start-building{
    background-color: #000000;
}
 
 .bg-cta{
    opacity: 0.4;
 }

 .opacited-container{
    position: relative;
    color: white;
 }

 .to-left-waiting{
   position: absolute;
   top:40%;
    left:10%;
    margin-bottom: 2rem;
 }
 .to-left-building{
   position: absolute;
   top:50%;
    left:10%;
    margin-bottom: 2rem;
 }
 .to-left-button{
   position: absolute;
   top:60%;
    left:10%;
    
 }

 @media screen and (max-width: 767px) {
    .to-left-waiting{
        position: absolute;
        top:35%;
         left:10%;
         margin-bottom: 2rem;
         
      }
      .to-left-building{
        position: absolute;
        top:50%;
         left:10%;
         margin-bottom: 2rem;
        
      }
      .to-left-button{
        position: absolute;
        top:65%;
         left:10%;
         
      }
}

@media screen and (min-width: 1200px) {
    .to-left-waiting{
        position: absolute;
        top:42.5%;
         left:10%;
         margin-bottom: 2rem;
         
      }
      .to-left-building{
        position: absolute;
        top:50%;
         left:10%;
         margin-bottom: 2rem;
        
      }
      .to-left-button{
        position: absolute;
        top:57.5%;
         left:10%;
         
      }
}

.new-friends{
    background-color: rgb(251,194,75);
    opacity: 0.9;
}
.new-friends:hover{
    opacity: 1;
}

.icon-heart{
    font-size: 5rem;
    color: rgb(219,58,68);
}

.twitter-dot{
    height: 7.5rem;
  width: 7.5rem;
  background-color: rgb(29,161,242);
  border-radius: 50%;
  display: inline-block;
}
.icon-social-twitter{
   position: relative;
   top:30%;
    color: rgb(255,255,255);
    font-size: 3rem;
}

.facebook-dot{
    height: 7.5rem;
  width: 7.5rem;
  background-color: rgb(59,89,152);
  border-radius: 50%;
  display: inline-block;
}

.icon-social-facebook{
    position: relative;
    top:30%;
    color: rgb(255,255,255);
    font-size: 3rem;
}

.google-dot{
    height: 7.5rem;
  width: 7.5rem;
  background-color: rgb(221,75,57);
  border-radius: 50%;
  display: inline-block;
}
.icon-social-google{
    position: relative;
    top:30%;
    color: rgb(255,255,255);
    font-size: 3rem;
}